certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.1.8
cryptography==44.0.3
flwr==1.20.0
grpcio==1.80.0
grpcio-health-checking==1.62.3
idna==3.15
iterators==0.0.2
markdown-it-py==4.2.0
mdurl==0.1.2
numpy==2.4.4
pathspec==0.12.1
prometheus_client==0.24.1
protobuf==4.25.9
pycparser==3.0
pycryptodome==3.23.0
Pygments==2.20.0
PyYAML==6.0.3
requests==2.34.0
rich==13.9.4
shellingham==1.5.4
tomli==2.4.1
tomli_w==1.2.0
typer==0.12.5
typing_extensions==4.15.0
urllib3==2.7.0
